* {
	font-family: Open Sans, sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
}
html,body{
	min-height:100%;
	min-width: 100%;
}
a {
	text-decoration: none;
}

/*  Header Section  */

.header {	
	background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(hero.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.header-text {
	margin-top: -75vh;
}
.header-main-text {
	font-size: 60px;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
	font-family: 'Lora', serif;	
}
.header-additional-text {
	font-size: 25px;
	font-weight: 200;
	text-align: center;
    margin-bottom: 20vh;
}
.header-phone {
	text-align: center;
	font-family: 'Lora', serif;
	font-size: 1.5em;
	margin-top: -15vh;
	color: #68c440;
	letter-spacing: 1px;
}

/* Top Nav Bar  */

.navbar-top {
	display: grid;
	grid-template-columns: 2fr 1fr;
	top: -30vh;
	padding: 0 3em;
	margin: 0;
	z-index: 100;
	width: 100%;
	position: relative;
	transition: all 1s;
}
.nav-list-top {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	justify-items: center;
	padding: 0;
	font-size: 1.1em;
}
.nav-list-top li {
	margin: 0 4vh;
}
.nav-list-top a {
	color: white;
}
.navtop-hide {
	visibility: hidden;
	transition: all 1s;
}
.nav-sticky-v2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: #629238;
	position: fixed;
	top: 0;	
	margin: 0;
	z-index: 100;
	width: 100%;
	box-shadow: 0px 3px 6px 0px rgba(50, 50, 50, 0.39);
}

/* Mobile Nav Pop Up  */

.mobile-nav {
	display: none;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}
.mobile-list {
	background: #629238;
	padding-top: 0px;
	z-index: 100;
    margin: 0px;
    list-style-type: none;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    opacity: .85;
}
.nav-list-mobile {
	text-decoration: none;
	color: white;
	padding: 8px 0px;
    font-size: 16px;
    border-bottom: solid 1px rgb(255, 255, 255, 0.85);
    margin-left: -6vh;
}
#about-mobile {
	border-bottom: none;
}

/*  Bottom Nav Bar  */

.navbar-bottom {
	top: 0;
	margin: 0;
	z-index: 1000;
	width: 100%;
	transition: all 1s;
	background-color: #629238;
}
.navLogoBottom {
	max-width: 0;
	overflow: hidden;
	background-color: #4f792a;
	justify-content: center;
	display: none;
	transition: all .5s;
}
.nav-logo, .logo {
	font-family: 'Lora', serif;
	color: white;
	margin-left: 4vh;
}
.nav-list-bottom {
	list-style-type: none;
	margin: 0;
  	padding: 1em 2em 1em 0;
  	list-style: none;
  	display:flex;	
	font-size: 1.2em;
	transition: all .5s;
}
.nav-list-bottom li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-list-bottom a {
	color: white;
}
.bottom-nav-fixed .navbar-bottom {
	position: fixed;
	width: 100%;
	box-shadow: 0 3px rgba(0,0,0,0.1);
}
.bottom-nav-fixed .navLogoBottom {
	max-width: 200px;
	font-weight: 600;
  	font-size: 30px;
  	display: inline-block;
}

/* Mobile Nav Icon */

.mobile-nav-icon {
	cursor: pointer;
	margin-top: 1vh;	
}
#menu-icon {
	font-size: 3vh;
	color: white;
}
.mobile-nav-container {
	display: none;
}
.mobile-nav-list-bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.contact-button {
	cursor: pointer;
}

/* Section Container  */

.lawncare {
	width: 100%;
}
.section-container 	{
	margin: 10em 4em;
	display: grid;
	grid-gap: 4em;
	grid-template-columns: 1fr 1fr;
	transform: scale(0.98);
	transition: transform 0.5s;
}
#cleanup-container, #about-container {
	margin-top: 0;
}
.section-text {
	display: grid;
}
.bottom-nav-fixed .section-container {
	transform: scale(1);
}
.section-container img {
	height: 45vh;
	display: grid;
	align-self: center;
	padding: 2em 4em 2em 0;
}
.section-header {
	font-size: 70px;
	color: #653000;
	font-weight: 400;
}
.section-main-text {
	font-size: 16px;
	color: #653000;
	line-height: 30px;
}

/* Landscaping Section  */

#landscaping-section {
	background-color: #efefef;
	margin-top: -9vh;
}

/* Snow Removal */

.snowremoval {
	background-color: #efefef;
	margin-top: -9vh;
}

/* Buttons */

button {
	width: 130px;
	height: 55px;
	background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	background-color: #59d15d;
	cursor: pointer;
}

/* Footer  */

.footer {
	background-color: #629238;
}
.footer-address li {
	list-style: none;
	font-family: 'Lora', serif;
}
.footer-other-contact li {
	list-style: none;
	font-family: 'Lora', serif;
}
.footer-contact-logo {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	justify-items: center;
	padding: 3vh 5vh 0 5vh;
	color: white;
}
.copyright {
	text-align: center;
	padding-top: 2vh;
	color: #ffe3bc;
	font-family: 'Lora', serif;
}

/*  Image Gallery   */
.gallery-body {
	background-color: #efefef;
}
.gallery-header {
	color: #653000;
	text-align: center;
	font-size: 50px;
	font-family: Open Sans;
}
.gallery-container {
	margin: 10vh 5vh;
}
.gallery-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.gallery-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}
.gallery-photo {
	width: 100%;
}

/* Create four equal columns that sits next to each other */

.gallery-column {
  flex: 25%;
  max-width: 25%; 
  overflow: hidden;
}
.gallery-column img {
  vertical-align: middle;
}

/* Contact Form  */

.form-body {
	background-color: #efefef ;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
}
.form-container {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	justify-content: center;
	margin: 20vh 7vh;	
	grid-gap: 10px;
}
.form-text {
	color: #653000;
	margin-left: 2vh;
}
.pure-group {
	border: none;
	display: grid;
	grid-template-rows: 1fr;
	color: #653000;
}
.form-details {
	margin-right: 3vw;
}
.form-title {
	font-size: 28px;
	color: #653000;
	text-align: center;	
}
.other-contact, .contact-address {
	text-align: center;
}
#contact-us {
	margin-left: 3vw;
}
label {
	margin-bottom: 2vh;
}
aside {
	padding-left: 12px;
}
#message {
	max-width: 75vh;
}
.pure-button {
	margin-left: 2vh;
	margin-top: 2vh;
}
.contact-address {
	list-style-type: none;
	color: #653000;
	line-height: 1.5em;
	margin-bottom: 10vh;
}
.other-contact {
	list-style-type: none;
 	color: #653000;
 	line-height: 1.8em;
}
.contact-phone {
	font-size: 1.25em;
	margin-bottom: 1vh;
	font-weight: bold;
}

/* Media Responsive Layout */

@media screen and (max-width: 1339px) {  /*iPad in landscape mode has 1024px */
	.section-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 10vh 4vh 0 4vh;
	}
	.section-container img {
		padding: 0;
	}
	.section-header {
		text-align: center;
	}
	.section-img {
		padding-top: 8vh;
	}
	.section-main-text {
		font-size: 18px;
		text-align: center;
		padding-bottom: 5vh;
	}
	button {
		justify-self: center;
	}

@media screen and (max-width: 1078px) {  /*iPad in landscape mode has 1024px */	
	.section-img {
	justify-self: center;
	}
	.navList {
  	display: none;
  	}
  .mobile-nav-container {
	display: inline-block;
	}
}

@media screen and (max-width: 891px) {
  .gallery-column {
    flex: 50%;  
    max-width: 50%;
  }
  .section-container img {
  	width: 50vh;
    height: auto;
  }
  .section-header {
  	font-size: 50px;
  	margin-top: 4vh;
  	margin-bottom: 0;
  }
  .form-container {
  	display: flex;
  	flex-wrap: wrap;
  }
  .form-title {
  	margin-right: 0;
  }
  #contact-us {
	margin-left: 4vw;
	}
	.header-text {
    margin-top: -80vh;
	}
}

@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
  .section-img {
    padding-top: 0;
   }
   #lawncare-section{
   	padding-top: 8vh;
   }
   .section-container img {
    width: 38vh;
    height: auto;
	}
	#contact-us {
	margin-left: 5vw;
	}
}

@media screen and (max-width: 500px) {
	.section-container img {
    width: 30vh;
    height: auto;
	}
}

@media screen and (max-width: 441px) {
  .section-container img {
  	width: 22vh;
    height: auto;
  }
  .header-main-text {
  	font-size: 3em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
  }
  #message {
  	width: 35vh;
  }
  .footer-address {
  	display: none;
  }
}

  @media screen and (max-width: 357px) {
  	#contact-us {
	margin-left: 7vw;
	}
	.header-main-text {
    font-size: 2.5em;
	}
  }